# system
alias c='clear'
alias reload='source ~/.zshrc'

# vim
alias v='vim'
alias vt='vim ~/tmp/.'

# navigation
alias l='ls -Glah'
alias ..='cd ..'
alias ...='cd ../..'

# python
alias python='python3'

# git
alias g='git'
alias gs='git status'
alias gc='git commit -m'

# sync nerdtree to dotfiles
alias sn='rsycn -avPuh --exclude .git/ --exclude .gitignore ~/bin/nerdtree ~/.dotfiles/vim/.vim/bundle/'

# bookmarks
alias lnks='~/bin/lnks/lnks.sh'

# create splunk markdown table
alias tbl="sed -e '/\t/{1 s/\t/||/g;s/\t/|/g;};/.*/{1 s/.*/|&|/;s/.*/|&|/;}'"
